<table class="table boderless">
	<tr>
		<th width="150">Salary :</th>
		<td>{{user.salary}}</td>
	</tr>
	<tr>
		<th>Start Date :</th>
		<td>{{user.start_date}}</td>
	</tr>
	<tr>
		<th>Ext :</th>
		<td>{{user.extn}}</td>
	</tr>	
</table>