<div class="container-fluid ms_root" ng-controller="catalogueController">
    <div class="clearfix"></div>

    @* Leftside Buttons *@
    <div class="col-md-3 col-sm-4 col-xs-12 col-lg-2">
        <div class="lftmenu_mas">
            <span class="col-xs-3 lftbox"><img src="~/Images/Settings.svg" /></span>
            <div class="col-xs-8 col-sm-10 subMenuMobi" id="MainMenu">
                <div class="list-group panel">
                    <a href="#" class="list-group-item list-group-item-success" ng-click="uploadCatalogue()"> Upload  &raquo;</a>
                    <a href="#" class="list-group-item list-group-item-success" ng-click="trackCatalogue()">Track Catalogue  &raquo;</a>
                    <a href="#" class="list-group-item list-group-item-success" ng-click="reloadPage()">Reload  &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    @* Rightside Content Started *@
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-10 rgtSide1">
        <h1>Catalogue <span class="sub_title" ng-cloak>{{subTitle}}</span></h1>
        <p class="cont1">
            User Roles allows you to switch roles. Approvals are your area where you qualify a scene for campaign.
        </p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-9 rgtSide2" ng-cloak>
        @* Upload Code Started here *@
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 rgtSide2 upload" ng-show="upload" ng-cloak>
            <form role="form" class="ng-pristine ng-valid" id="sceneFormData">
                <div class="form-group ">
                    <fieldset>
                        <label for="SceneName">Catalogue Name</label>
                        <input class="form-control" type="text" ng-model="tutorial.title" name="SceneName" />
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <label for="description">Age Range</label><br />
                        <select class="rangeCls" ng-model="tutorial.AgeRange" ng-options="val for val in rangeValue"></select>
                    </fieldset>
                </div>
                <div class="form-group">
                    <label for="dropdown">Gender </label><br />
                    @*<select ng-model="tutorial.Gender" ng-options="val for val in genderDropdown"></select>*@
                    <input type="radio" value="Male" ng-model="tutorial.Gender" /> Male &nbsp;  &nbsp; 
                    <input type="radio" value="Female" ng-model="tutorial.Gender" /> Female
                </div>{{tutorial.Gender}}
                <div class="form-group">
                    <fieldset>
                        <input type="file" name="attachment" class="form-control" id="attachment" data-ak-file-model="tutorial.attachment" />
                    </fieldset>
                </div>
                <div class="form-group flt_rgt">
                    <button type="button" class="btn btn-submit1 " value="Save" data-ng-click="saveTutorial(tutorial)">Save</button>
                    &nbsp;<button class="btn btn-submit1" ng-click="reloadPage()">Cancel</button>
                </div>
            </form>
            <div class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="uploadSuccess">
                <span>{{uploadMsg}}</span>
            </div>
        </div>
        @* Upload code ended here *@
    </div>

    @* TrackScene starts here *@
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-10 rgtSide2" ng-show="trackScene" ng-init="trackCatalogue()" ng-cloak>
        <div class="rgttbl">
            <table class="table table-striped dtbl">
                <colgroup>
                    <col width="70" />
                    <col width="" />
                    <col width="" />
                    <col width="" />
                    <col width="" />
                    <col width="70" />
                </colgroup>
                <thead>
                    <tr>
                        <th width="70"></th>
                        <th>Sno</th>
                        <th ng-click="sortBy('Title')">
                            Catalogue Name
                            <span class="sortorder" ng-show="propertyName === 'Title'" ng-class="{reverse: reverse}"></span>
                        </th>                       
                        <th class="hidden-xs" ng-click="sortBy('Gender')">
                            Gender
                            <span class="sortorder" ng-show="propertyName === 'Gender'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th class="hidden-xs" ng-click="sortBy('AgeRange')">
                            Age Range
                            <span class="sortorder" ng-show="propertyName === 'AgeRange'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th>Preview</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd" ng-show="trackData.length == 0">
                        <td valign="top" colspan="6" class="dataTables_empty">No data available in table</td>
                    </tr>
                    <tr ng-repeat="row in trackData.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:propertyName:reverse">
                        <td><input id="{{$index}}" type="checkbox" ng-click="trackFun(row.Id,$index)" /></td>
                        <td>{{$index+1}}</td>
                        <td>{{row.Title}}</td>
                        <td>{{row.Gender}}</td>
                        <td>{{row.AgeRange}}</td>
                        <td>
                            <span ng-click="templatePreview(row.UploadUrl , row.SceneType)">
                                <a class="eye1_btn_align"><img src="~/Images/eye.png" class="previewIcon" border="0" alt="Preview" /></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- pagination started  -->
            <div class="pagiAlign">
                <div class="pagiCombo">
                    Show <select ng-options="item as item for item in dDownValues" ng-model="viewby" ng-change="setItemsPerPage(viewby)"></select>
                </div>
                <div class="numTabi">
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" num-pages="numPages" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
                <div class="txtPgi">
                    Showing page {{currentPage}} of {{numPages}}
                </div>
            </div>
            @* Pagination ended *@
            @* Alert Message Track Scene *@
            <div class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="success">
                <span>{{msg}}</span>
            </div>
        </div>
    </div>
    @* TrackScene ends *@

    @* modal directive started*@
    <modal-comp title="Property Details" visible="showcompModal2" ng-cloak></modal-comp>
    @* modal *@
</div>