@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Images/ms.ico">

    <title>:: Digital Signage ::</title> 

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="~/Content/datatables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/jquery.fileupload.css">
    <link rel="stylesheet" href="~/Content/jquery.fileupload-ui.css">
    <link href="~/Content/style.css" rel="stylesheet" />

    <link href="~/Content/loading-bar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style/grapes.min.css" rel="stylesheet" />
    <link href="~/Content/Style/customDirective.css" rel="stylesheet" />
    <link rel="icon" href="~/Images/wipro.ico">  
    
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/lib/jquery.dataTables.min.js"></script>


    <!--[if lt IE 9]><script src="js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!-- <link href="includes/font-awesome/css/font-awesome.min.css" rel="stylesheet" />-->

    @*@Scripts.Render("~/bundles/jquery")*@
</head>

<body class="ms_root blue_bg4splash">
    <div id="splashScreen" class="container-fluid posi_relative">
        <div class="col-md-6">
            <div class="iotDsMas">
                <img src="~/Images/splash_wipro_logo.png" style="max-width:100%;margin: 0 0 25px 10%;" />
                <h1 class="iotDs">IoT Digital Signage</h1>
                <h3 class="yourMsg">Your messaging campaign on your device screen anywhere </h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="iotDsimgMas">
                <img src="~/Images/ds_landing.png" style="max-width:100%;" />
            </div>
        </div>

    </div>
    <div id="loginBlk">
        <div class="container-fluid posi_relative">

            <div class="parentBg hidden-xs  hidden-sm"></div>
            <div class="parentBg2 hidden-xs hidden-sm"></div>
            <nav class="navbar1 navbar-default">
                <div class="brandBlock">
                    <h2 class="digiGradi1">Digital Signage</h2>

            </div>             
        </nav>
        <nav class="navbar navbar-default">
            <div>
                <a class="navbar-brand logo1_align_login" href="#"><img src="~/Images/wipro.png" /></a>
                <div align=center class="signin">
                    <h2 id="signin">Sign in</h2>
                   
                </div>
            </div>           

            <div class="bg_gradi"></div>
        </nav>
    </div>
        <section class="visible" id="login">
            <div class="container-fluid">                 

                <div class="login-box-plain" id="loginForm">
                    
                @using (Html.BeginForm("ValidateUser", "User"))
                {
                    <form role="form">
                        <div id="lresult">@ViewBag.LoginMessage</div>
                        <div class="form-group ">
                            <input type="text" name="lusername" class="form-control login" id="username" placeholder="User id ">
                        </div>
                        <div class="form-group">
                            <input type="password" name="linputPassword" class="form-control" id="pass" placeholder="Password ">
                        </div>
                        <div class="form-actions">
                            <button type="submit" id="submitBtn" class="btn btn-login">Next</button>
                        </div>
                    </form>
                }
                    <div class="wid_100_per">
                        <ul class="loginbtnlinks">
                            @*<li onclick="createForm()">New user ?</li>*@
                            <input type="checkbox" id="remember_me"> Remember me
                        </ul>
                    </div>
               
              
                
        @using (Html.BeginForm("SignIn", "Account"))
                {
                    <div class="signDiffButton">
                        <div class="orLineContent">
                            <p class="or">OR</p>
                        </div>
                        <div class="form-actions reducePad">
                          
                            <button class="windowsSignInBtn">&nbsp;&nbsp;<span class="fa fa-windows widowsIcon"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign in with Azure Active Directory</button>
                        </div>
                    </div>
                 }

            </div>
            
        
        </div>
            <div class="login-box-plain" id="createForm">
                @*<div class="login-logo">
                <span class="login_logo"><img src="~/Images/logo.png" width="99" border="0" title="MicroSoft-DS" /></span>
            </div>*@
                

                    @using (Html.BeginForm("SaveUser", "User"))
                    {
                        @*<div class="form-group ">
                        <input type="text" name="firstName" class="form-control login" placeholder="First Name">
                    </div>*@
                        <div class="form-group ">
                            <input type="text" name="username" class="form-control login" placeholder="User Name">
                        </div>
                        <div class="form-group ">
                            <input type="email" name="email" class="form-control login" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="newPassword" class="form-control" placeholder="New Password ">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password ">
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-login" type="submit"> Submit </button>
                        </div>
                    }

                <div>
                    <ul class="loginbtnlinks">
                        <li onclick="loginForm()" class="loginAlign1a">Login</li>                       
                    </ul>
                </div>
            </div>

            <input type="hidden" id="isLogin" value=@ViewBag.ShowLoginPage>
        </section>
    </div>
    <script>

        //Viewing and hiding login and newUser forms started
        var form2 = document.getElementById('createForm').style.display = 'none';
        document.getElementById('splashScreen').style.display = 'block';
        document.getElementById('loginBlk').style.display = 'none';

        function createForm() {
            console.log('createUser form is clicked !!!');
            document.getElementById('loginForm').style.display = 'none';
            document.getElementById('createForm').style.display = 'block';
        };
        function loginForm() {
            console.log('login form is cliked !!!');
            document.getElementById('loginForm').style.display = 'block';
            document.getElementById('createForm').style.display = 'none';
        };

        setTimeout(function () {
            $("#loginBlk").css('display', 'block');
            $("#splashScreen").css('display', 'none');
            $('body').removeClass('blue_bg4splash');
        }, 3000);
        //ended

        //remember localstrorage started
         $('input[type="checkbox"]').click(function () {
            if ($(this).is(":checked")) {
                console.log('checked');
                //var email =  $('#username').val();
                //var password =  $('#pass').val();
                //var checkBoxValidation = $('#remember_me').val();
                var chkbx = 'true';
                console.log(chkbx, 'chkbx indicator');
                console.log('localstorage data', localStorage.userid)
                document.getElementById('username').innerHTML = localStorage.userid;
                document.getElementById('pass').innerHTML = localStorage.password;
            } else {
                console.log('unChecked');
                var chkbx = 'false';
                //var checkBoxValidation1 = $('#remember_me').val();
                console.log(chkbx, 'chkbx indicator');
            }
        });

            $('#submitBtn').click(function () {               
                console.log('hello');
                if ($('#remember_me').is(':checked')) {
                    console.log('remember is checked...!')
                    // save username and password
                    localStorage.userid = $('#username').val();
                    localStorage.password = $('#pass').val();
                    localStorage.checkBoxValidation = $('#remember_me').val();
                    console.log(localStorage.userid);
                    var url = 'http://localhost:11515/Home/PLayer';
                    window.location.href = url;
                } else {
                    localStorage.userid = '';
                    localStorage.password = '';
                    localStorage.checkBoxValidation = '';
                    }
         });

            //$('#windowsSignInBtn').click(function () {
            //    console.log('Microsoft Login');
            //    if (Request.IsAuthenticated) {
            //        return RedirectToAction("Dashboard", "Home");
            //    }
            //});

            //console.log('localstorage data', localStorage.userid)
            //document.getElementById('username').value = localStorage.userid;
            //document.getElementById('pass').value = localStorage.password;
            //document.getElementById('remember_me').checked = true;

            if (localStorage.userid != '' && localStorage.userid != undefined) {
                $('#remember_me').attr('checked', 'checked');
                $('#username').val(localStorage.userid);
                $('#pass').val(localStorage.password);
            } else {
                $('#remember_me').removeAttr('checked');
                 //document.getElementById('remember_me').checked = false;
                $('#username').val('');
                $('#pass').val('');
            }

        //clearing the localstorage value after six hours
            setTimeout(function () {
                localStorage.userid = '';
                localStorage.password = '';
                localStorage.checkBoxValidation = '';
            }, 1000 * 60 * 60 * 6);
            
        //ended

    </script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@
  
</body>
</html>
