<div class="container-fluid ms_root" ng-controller="reportController">
    <p class="backArrow1" >&laquo; <a href="javascript:void(0)" ng-click="goToAdmin()">Back</a></p>
    <div class="clearfix"></div>
    @* Leftside Buttons *@
    <div class="col-md-3 col-sm-4 col-xs-12 col-lg-2">
        <div class="lftmenu_mas">
            <div class="col-xs-3 lftbox">
                <span class="reportIcon"><img src="~/Images/report.svg" /></span>
            </div>
            <!--  <span class="col-xs-3 lftbox reportIcon"><img src="~/Images/report.svg" /></span> -->
            <div class="col-xs-8 col-sm-10 subMenuMobi" id="MainMenu">
                <div class="list-group panel">

                    <!--  <a href="#" class="list-group-item list-group-item-success" ng-click="stationReport()">Station Report &raquo;</a>
                      <a href="#" class="list-group-item list-group-item-success" ng-click="campaignReport()">Campaign Report &raquo;</a> -->
                    <a href="#" class="list-group-item list-group-item-success" ng-click="reloadPage()">Reload  &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    @* Rightside Content Started *@
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-10 rgtSide1">
        <h1>Report <span class="sub_title" ng-cloak>{{subTitle}}</span></h1>
        <p class="cont1">
            Generate history reports based on Playlists & Devices.
        </p><br />

    </div>

    <!-- pagination started  -->
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-10 rgtSide1" ng-cloak>

        <div>

            <form>
                @*<label class="radio-inline">
                    <input type="radio" name="Category" ng-model="radioBtn" value="Station" ng-change="selectedCategory('Station')" checked> Device Group
                </label>*@
                <label class="radio-inline">
                    <input type="radio" name="Category" ng-model="radioBtn" value="Campaign" ng-change="selectedCategory('Campaign')"> Playlist
                </label>
                <label class="radio-inline">
                    <input type="radio" name="Category" ng-model="radioBtn" value="Player" ng-change="selectedCategory('Player')"> Device
                </label>
            </form> <br />
            <div ng-show="radioBtn == 'Station' && radioBtn != 'Campaign'&& radioBtn !='Player'" ng-cloak>
                <div class="form-group  col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-cloak>
                    <label> Device Group:</label>
                    <select class="form-control" ng-change="getStaion(viewbyStation)" required ng-model="viewbyStation">
                        <option value="" selected disabled>Please select</option>
                        <option ng-repeat="st in viewbystationDrop" value="{{st.DisplayStationid}}">{{st.DisplayStationName}}   {{st.DisplayStationId}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-cloak>
                    <label for="pwd">Start Date:</label>
                    <input class="form-control input-small" ng-model="stationStrDt" type="date" />

                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-cloak>
                    <label for="email">End Date:</label>
                    <input type="date" class="form-control input-small" ng-model="stationEndDt" />
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-cloak>
                    <label></label>
                    <input style="margin-top: 20px" type="button" class="btn btn-primary" ng-click="showReport('Station',viewbyStation,stationStrDt,stationEndDt)" value="Show Report" />
                    <button id="dwnldPdf" ng-if="showReportFlag" class="btn btn-primary" style="margin-top: 20px" data-toggle="modal" data-target="#StationModal"><i class="fa fa-download fa-lg"></i> </button>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span ng-if="(errorStrDt == 1)" style="color:red">Can't select future date</span>
                    <span ng-show="(errorEndDt)" style="color:red">end date should be greater than start date</span>
                </div>
            </div>
            <div ng-show="radioBtn == 'Campaign' && radioBtn != 'Station' && radioBtn != 'Player'">
                <div class="form-group  col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label> Playlist:</label>
                    <select class="form-control" ng-change="getStaion(viewbyCampaign)" required ng-model="viewbyCampaign">
                        <option value="" selected disabled>Please select</option>
                        <option ng-model="viewbyCampaign" ng-repeat="cm in viewbycampaign" value="{{cm.CampaignId}}">{{cm.CampaignName}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label for="pwd">Start Date:</label>
                    <input class="form-control" ng-model="campaignStrDt" type="date" />
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label for="email">End Date:</label>
                    <input type="date" class="form-control" ng-model="campaignEndDt" />
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-cloak>
                    <label></label>
                    <input type="button" style="margin-top: 20px" class="btn btn-primary" ng-click="showReport('Campaign',viewbyCampaign,campaignStrDt,campaignEndDt)" value="Show Report" />
                    <button id="dwnldPdf" ng-if="showReportFlag" class="btn btn-primary" style="margin-top: 20px" data-toggle="modal" data-target="#StationModal"><i class="fa fa-download fa-lg"></i> </button>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="radioBtn == 'Campaign' && radioBtn != 'Station' ">
                    <span ng-if="(errorStrDt == 1)" style="color:red">Can't select future date</span>
                    <span ng-show="(errorEndDt)" style="color:red">end date should be greater than start date</span>
                </div>


            </div>
            <div ng-show="radioBtn == 'Player' && radioBtn != 'Station' && radioBtn !='Campaign'" ng-cloak>
                <div class="form-group  col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label> Device:</label>
                    <select class="form-control" ng-change="getStaion(viewbyPlayer)" required ng-model="viewbyPlayer">
                        <option value="" selected disabled>Please select</option>
                        <option ng-model="viewbyPlayer" ng-repeat="cm in viewbyPlayers" value="{{cm.PlayerId}}">{{cm.PlayerName}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label for="pwd">Start Date:</label>
                    <input class="form-control" ng-model="playerStrDt" type="date" />
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label for="email">End Date:</label>
                    <input type="date" class="form-control" ng-model="playerEndDt" />
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-cloak>
                    <label></label>
                    <input type="button" style="margin-top: 20px" class="btn btn-primary" ng-click="showReport('Player',viewbyPlayer,playerStrDt,playerEndDt)" value="Show Report" />
                    <button id="dwnldPdf" ng-if="showReportFlag" class="btn btn-primary" style="margin-top: 20px" data-toggle="modal" data-target="#StationModal"><i class="fa fa-download fa-lg"></i> </button>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="radioBtn == 'Player' && radioBtn != 'Station' && radioBtn != 'Campaign' " ng-cloak>
                    <span ng-if="(errorStrDt == 1)" style="color:red">Can't select future date</span>
                    <span ng-show="(errorEndDt) || ( errorStrDt !=1 && errroEndDt == 1)" style="color:red">end date should be greater than start date</span>
                </div>
            </div>
            

        </div>

        <div class="col-md-12    col-sm-12 col-xs-12 col-lg-12 rgtSide2" ng-if="showReportFlag" ng-cloak>
            @*<div class="col-lg-offset-10 col-md-offset-10 col-sm-offset-10">
                Search :  <input class="form-control"  ng-model="searchText" placeholder="Search" type="search" />
            </div>*@
            <div class="rgttbl plyr1">
                <table class="table mainTable dtbl">
                    <tbody>
                        <tr class="headerRow">
                            <th style="width:9%; padding-left:10px !important">S.No</th>
                            <th style="width:13%" class="reportTblHeader" ng-click="sortBy('DisplayName')">Device Group name
                                <span class="sortorder" ng-show="propertyName === 'PlayerName'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width:13%" class="reportTblHeader">Playlist name</th>
                            <th style="width:13%" class="reportTblHeader">Content name</th>
                            <th style="width:13%" class="reportTblHeader">Device name</th>
                            <th style="width:13%" class="reportTblHeader">Start Date & Time</th>
                            <th style="width:13%" class="reportTblHeader">End Date & Time</th>
                            <th style="width:13%" class="reportTblHeader">Status</th>
                        </tr>
                    </tbody>
                </table>
                <div class="tableDivBody">
                    <table class="table table-striped">
                        <tbody class="tableBodySub">

                            <tr class="tableBodyRowSub" ng-repeat="d in reportData | filter : {CampaignName : searchText }">
                                <td style="width:9%">{{$index + 1}}</td>
                                <td style="width:13%" class="tblCntFont">{{d.DisplayName}}</td>
                                <td style="width:13%" class="tblCntFont">{{d.CampaignName}}</td>
                                <td style="width:13%" class="tblCntFont">{{d.SceneName}}</td>
                                <td style="width:13%" class="tblCntFont">{{d.PlayerName}}</td>
                                <td style="width:13%" class="tblCntFont">{{d.StartTimeVal}}</td>
                                <td style="width:13%" class="tblCntFont">{{d.EndTimeVal}}</td>
                                <td style="width:13%" class="tblCntFont">{{d.Status}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            
               
            <script type="text/ng-template" id="display">
                <td class="tblCntFont">{{d.DisplayName}}</td>
                <td class="tblCntFont">{{d.CampaignName}}</td>
                <td class="tblCntFont">{{d.SceneName}}</td>
                <td class="tblCntFont">{{d.PlayerName}}</td>
                <td class="tblCntFont">{{d.StartTimeVal}}</td>
                <td class="tblCntFont">{{d.EndTimeVal}}</td>
                <td class="tblCntFont"></td>
            </script>

            <!-- START OF STATION MODAL-->
            <div id="StationModal" class="modal fade" role="dialog">
                <div class="modal-dialog  modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="fa fa-times fa-lg"></i>
                            </button>

                        </div>

                        <div class="modal-body" id="reportModalView">
                            <h4 class="modal-title" align="center">History Report</h4>
                            <!--  <div>Station name : {{viewbyStation}}</div> -->
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th class="reportTblHeader">Location name</th>
                                        <th class="reportTblHeader">Playlist name</th>
                                        <th class="reportTblHeader">Content name</th>
                                        <th class="reportTblHeader">Device name</th>
                                        <th class="reportTblHeader">Start Date & Time</th>
                                        <th class="reportTblHeader">End Date & Time</th>
                                        <th class="reportTblHeader">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in reportData" class="reduceFont">{{d}}
                                        <td>{{$index + 1}}</td>
                                        <td class="tblCntFont">{{d.DisplayName}}</td>
                                        <td class="tblCntFont">{{d.CampaignName}}</td>
                                        <td class="tblCntFont">{{d.SceneName}}</td>
                                        <td class="tblCntFont">{{d.PlayerName}}</td>
                                        <td class="tblCntFont">{{d.StartTimeVal}}</td>
                                        <td class="tblCntFont">{{d.EndTimeVal}}</td>
                                        <td class="tblCntFont">{{d.Status}}</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click=" downloadpdf()"><i class="fa fa-download fa-lg"></i></button>
                        </div>
                    </div>


                </div> <!--END OF STATION MODAL-->
            </div>

        </div>


    </div>
    @* Pagination ended *@
</div>



