
<div class="container-fluid ms_root" ng-controller="ScenesController">
    <div class="clearfix"></div>

    @* Leftside Content *@
    <div class="col-md-3 col-sm-4 col-xs-12 col-lg-2">
        <div class="lftmenu_mas">
            <span class="col-xs-3 lftbox"><img src="~/Images/Scenes.svg" /></span>
            <div class="col-xs-8 col-sm-10 subMenuMobi" id="MainMenu">
                <div class="list-group panel">
                    <a href="#submenuItem" class="list-group-item list-group-item-success activeCls" data-toggle="collapse" data-parent="#MainMenu" ng-click="newScene()">Manage  &raquo;</a>
                    <div class="collapse formobi" id="submenuItem">
                        <a href="" class="list-group-item list-group-item-success activeCls" ng-click="uFun();">Upload</a>
                        <a href="" class="list-group-item list-group-item-success activeCls" ng-click="temFun();">Predefined Templates</a>
                        <a href="" class="list-group-item list-group-item-success hidden-xs hidden-sm activeCls" ng-click="cusTempFun()">Custom Templates</a>
                    </div>
                    <a href="#" class="list-group-item list-group-item-success activeCls" ng-click="trackScenes()">View </a>
                    <a href="#" class="list-group-item list-group-item-success activeCls" ng-click="viewScenes()">Submit </a>

                    <a href="#" class="list-group-item list-group-item-success activeCls" ng-click="refreshPage()">Reload</a>
                    <hr id="HorizontalLineContent" ng-show="authUser">
                    <a href="#" class="list-group-item list-group-item-success activeCls" ng-show="authUser" ng-click="admin()">Approvals </a>
                    <a href="#" class="list-group-item list-group-item-success activeCls" ng-show="authUser" data-parent="#MainMenu" ng-click="rmData()">
                        Delete
                        <div ng-show="chckBoxMsg" ng-cloak>
                            <span ng-class={{"!chckBox?'':'halert'"}} class="alrtTxtWarning">Go to view and Select the Content !</span>
                        </div>
                        <input type="hidden" value="@Session["UserRole"]" id="myHiddenValue1" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    @* Rightside Content Started *@
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-10 rgtSide1" ng-cloak>
        <h1>Content <span class="sub_title" ng-cloak>{{subTitle}}</span></h1>
        <p class="cont1">
            Contents are messages like billboards that display on Devices as grouped, within a playlist. <br /><a href="~/Content/customTempalte.pdf" download="" class="userManuallink"><b>User guidelines to create Custom Template</b></a>
        </p>
    </div>

    @* Saved Scenes Table started *@
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-10 rgtSide2" ng-show="active" ng-cloak>
        <div class="rgttbl">
            <div class="rgt_serach_align1">
                <input class="form-control" ng-model="searchText" placeholder="Search by Content Name" type="search" />
                <span class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="success" ng-bind="msg"></span>
                @*<div class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="success">
                        <span ng-bind="msg"></span>
                    </div>*@
            </div>
            <div class="divScrollTable">
                <table class="table mainTable dtbl scenebtnrgt">

                    <tbody>
                        <tr class="headerRow">
                            <th style="width:10%; padding-left:10px !important">S.No</th>
                            <th style="width:20%;" ng-click="sortBy('SceneName')">
                                Contents Name
                                <span class="sortorder" ng-show="propertyName === 'SceneName'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width:20%;" class="hidden-xs" ng-click="sortBy('Status')">
                                Status
                                <span class="sortorder" ng-show="propertyName === 'Status'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width:20%;" class="hidden-xs">Manager</th>
                            <th style="width:20%;">Preview</th>
                            <th style="width:10%;"></th>
                        </tr>
                    </tbody>
                </table>
                <div class="tableDivBody">
                    <table class="table table-striped">

                        <tbody class="tableBodySub">
                            <tr class="odd tableBodyRowSub" ng-show="scenesData.length == 0">
                                <td valign="top" colspan="5" class="dataTables_empty">No data available in table</td>
                            </tr>
                            <tr class="tableBodyRowSub" ng-repeat="row in scenesData  | filter : {SceneName : searchText }  |  orderBy:propertyName:reverse" ng-cloak>

                                <td style="width:10%;">{{$index+1}}</td>
                                <td style="width:20%; " id="nout-{{$index}}"><span class="name_ellip" title="{{row.SceneName}}">{{row.SceneName}}</span></td>
                                <td style="width:20%;" class="hidden-xs">{{row.Status}}</td>
                                <td style="width:20%;" class="hidden-xs">
                                    <select ng-model="userID" class="modalSelect" ng-options="opt.UserId as opt.UserName for opt in row.ApproverList">
                                        <option value="" selected> -- Select Manager -- </option>
                                    </select>
                                </td>
                                <td style="width:20%;">
                                    &nbsp;&nbsp;
                                    <span ng-click="generateTemplate(row.SceneContent , row.SceneType , row.SceneUrl,row.IconPosition)" data-toggle="modal" data-target="#viewModal">
                                        <a class="eye1_btn_align"><img src="~/Images/eye.png" class="previewIcon" border="0" alt="Preview" /></a>
                                    </span>
                                </td>
                                <td style="width:10%;" class="flt_left"><button type="button" class="btn btn-submit_tbl flt_rgt" ng-click="scenesApproval(row.SceneId,userID)">Submit</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    @* Saved Scenes Table ended *@

    @* Admin Code Starts here *@
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-10 rgtSide2" ng-show="adminTab" ng-init="getAllAdminData()">
        <div class="rgttbl">
            <div class="rgt_serach_align1">
                <input class="form-control" ng-model="searchText1" placeholder="Search by Content Name" type="search" />
                <span class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="success" ng-bind="adminMsg"></span>
            </div>
            @*<div class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="success">
                    <span ng-bind="adminMsg"></span>
                </div>*@
            <div class="divScrollTable">
                <table class="table mainTable table-border dtbl">

                    <tbody>
                        <tr class="headerRow">
                            <th style="width:10%;padding-left:10px !important">S.No</th>
                            <th style="width:20%;" ng-click="sortBy('SceneName')">
                                Content Name
                                <span class="sortorder" ng-show="propertyName === 'SceneName'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width:20%;" ng-click="sortBy('ApproverName')">
                                Manager
                                <span class="sortorder" ng-show="propertyName === 'ApproverName'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width:10%;" ng-click="sortBy('Status')">
                                Status
                                <span class="sortorder" ng-show="propertyName === 'Status'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width:15%;">Preview</th>
                            <th style="width:25%;">Approve</th>
                        </tr>
                    </tbody>
                </table>
                <div class="tableDivBody">
                    <table class="table table-striped">
                        <colgroup></colgroup>
                        <tbody class="tableBodySub">
                            <tr class="odd tableBodyRowSub" ng-show="pendApproval.length == 0">
                                <td valign="top" colspan="6" class="dataTables_empty">No data available in table</td>
                            </tr>
                            <tr class="tableBodyRowSub" ng-repeat="pData in pendApproval | filter : {SceneName : searchText1 }  | orderBy:propertyName:reverse" ng-cloak>
                                @*<tr ng-repeat="pData in pendApproval.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:propertyName:reverse">*@
                                <td align="center" style="width:10%; padding-left:10px !important">{{$index+1}}</td>
                                <td style="width:20%; "> <span class="name_ellip" title="{{pData.SceneName}}">{{pData.SceneName}}</span> </td>
                                <td style="width:20%;">{{pData.ApproverName}}</td>
                                <td style="width:10%;">{{pData.Status}}</td>
                                <td style="width:15%;">
                                    &nbsp;&nbsp;
                                    <span id="{{pData.SceneId}}" ng-click="templateFunction(pData.SceneUrl,pData.SceneType,pData.IconPosition)">
                                        <a class="edit_btn_align"><img src="~/Images/eye.png" class="previewIcon" border="0" alt="Preview" /></a>
                                    </span>
                                </td>
                                <td style="width:25%;">
                                    <button type="button" class="btn btn-tbl_cancel1" ng-click="rejectFun(pData.SceneId,pData.SceneName,pData.ApproverName,pData.Status)"> Reject</button> <button type="button" class="btn btn-tbl_approv1" ng-click="approveFun(pData.SceneId,pData.SceneName,pData.ApproverName,pData.Status)"> Approve</button>&nbsp;&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    @* Admin code ends here *@

    @* Track Scenes Table started *@
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-10 rgtSide2" ng-show="trackingScenes" ng-cloak>
        <div class="rgttbl">
            <div class="rgt_serach_align1">
                <input class="form-control" ng-model="searchText2" placeholder="Search by Content Name" type="search" />
                <span class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="success" ng-bind="msg"></span>
            </div>
            @* Alert Message Track Scene *@
            @*<div class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="success">
                    <span ng-bind="msg"></span>
                </div>*@
            <div class="">
                <table class="table mainTable  dtbl">
                    <colgroup></colgroup>
                    <tbody>
                        <tr class="headerRow">
                            <th style="width:10%; padding-left:10px !important">S.No</th>
                            <th style="width:10%;">Select</th>

                            <th style="width:20%" ng-click="sortBy('SceneName')">
                                Content Name
                                <span class="sortorder" ng-show="propertyName === 'SceneName'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width:20%" class="hidden-xs" ng-click="sortBy('SceneType')">
                                Content Type
                                <span class="sortorder" ng-show="propertyName === 'SceneType'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width:20%" class="hidden-xs" ng-click="sortBy('Status')">
                                Status
                                <span class="sortorder" ng-show="propertyName === 'Status'" ng-class="{reverse: reverse}"></span>
                            </th>
                            <th style="width:20%">Preview</th>
                        </tr>
                    </tbody>
                </table>
                <div class="tableDivBody">
                    <table class="table table-striped">

                        <tbody class="tableBodySub">
                            <tr class="odd tableBodyRowSub" ng-show="trackScenesData.length == 0">
                                <td valign="top" colspan="6" class="dataTables_empty">No data available in table</td>
                            </tr>
                            <tr class="tableBodyRowSub" ng-repeat="row in trackScenesData | filter : {SceneName : searchText2 }  | orderBy:propertyName:reverse" ng-cloak>
                                <td style="width:10%;padding-left:10px !important">{{$index+1}}</td>
                                @*<tr ng-repeat="row in trackScenesData.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:propertyName:reverse">*@
                                <td style="width:10%;"><input id="{{$index}}" type="checkbox" ng-click="trackFun(row.SceneId,$index)" /></td>

                                <td style="width:20%;"><span class="name_ellip" title="{{row.SceneName}}">{{row.SceneName}}</span></td>
                                <td style="width:20%;">{{row.SceneType}}</td>
                                <td style="width:20%;"><span class="name_ellip" title=" {{row.Status}}"> {{row.Status}}</span></td>
                                <td style="width:20%;">
                                    <span ng-click="generateTemplate(row.SceneContent , row.SceneType , row.SceneUrl,row.IconPosition)">
                                        <a class="eye1_btn_align"><img src="~/Images/eye.png" class="previewIcon" border="0" alt="Preview" /></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- pagination started  -->
                @*<div class="pagiAlign">
                        <div class="pagiCombo">
                            Show <select ng-options="item as item for item in dDownValues" ng-model="viewby" ng-change="setItemsPerPage(viewby)"></select>
                        </div>
                        <div class="numTabi">
                            <ul uib-pagination total-items="filterData2.length" ng-model="currentPage" max-size="maxSize" num-pages="numPages" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                        <div class="txtPgi">
                            Showing page {{currentPage}} of {{numPages}}
                        </div>
                    </div>*@
                @* Pagination ended *@
            </div>

        </div>
    </div>
    @* Track Scenes Table ended *@

    @* Upload Code Started here *@
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-5 rgtSide2 upload" ng-show="upload" ng-cloak>
        <div class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="uploadSuccess">
            <span>{{uploadMsg}}</span>
        </div>
        @*<p style="color:cornflowerblue"> Note :  For high resolution images with more than 1MB size, upload the image with 16:9 aspect ratio.File size should not exceed 6MB for high resolution images.</p>*@
        <form role="form" class="ng-pristine ng-valid" id="sceneFormData">
            <div class="form-group ">
                <fieldset>
                    <label for="SceneName">Content Name</label>
                    <input class="form-control" type="text" ng-model="tutorial.title" name="SceneName" maxlength="50" />
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <label for="description">Description about the scene</label>
                    <textarea class="form-control" data-ng-model="tutorial.description" name="description"></textarea>
                </fieldset>
            </div>
            <div class="form-group">

                <label for="dropdown">Choose Upload Type :</label>
                <select ng-model="uploadValue" ng-options="val.id as val.value for val in uploadDropdown"></select>
            </div>
            <div class="form-group" ng-show="uploadValue == 4 ||uploadValue == 5">
                <fieldset>
                    <label for="description">Upload URL</label>
                    <input type="text" class="form-control" ng-model="tutorial.UploadUrl" />
                </fieldset>
            </div>
            <div class="form-group" ng-hide="uploadValue == 4 ||uploadValue == 5">
                <fieldset>
                    <input type="file" name="attachment" class="form-control" id="attachment" data-ak-file-model="tutorial.attachment" />
                </fieldset>
            </div>
            <div class="form-group" ng-if="uploadValue == 1 ||uploadValue == 2 ">
                <div>Select the position of Weather Icon</div>
                <fieldset>

                    <label class="weatherPosUpload">
                        <input name="optradio" ng-model="tutorial.IconPosition" type="radio" value="TopLeft">
                        TopeLeft
                    </label>
                    <label class="weatherPosUpload">
                        <input type="radio" name="optradio" ng-model="tutorial.IconPosition" value="TopRight">
                        TopRight
                    </label>
                    <label class="weatherPosUpload">
                        <input type="radio" name="optradio" ng-model="tutorial.IconPosition" value="BottomLeft">
                        BottomLeft
                    </label>
                    <label class="weatherPosUpload">
                        <input type="radio" name="optradio" ng-model="tutorial.IconPosition" value="BottomRight">
                        BottomRight
                    </label>
                    @*<table class="testTbl1" cellpadding="0" cellspacing="1" style="position:relative;" border="0">
                            <tr>
                                <td><span>L/T</span><input class="tlft1" type="radio" name="optradio" ng-model="alignWeather" value="TopLeft" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                <td><span>R/T</span><input class="lbtm1" type="radio" name="optradio" ng-model="alignWeather" value="TopRight" ng-click="displayWeatherIcon(alignWeather)" /></td>
                            </tr>
                            <tr>
                                <td><span>L/B</span><input class="trgt1" type="radio" name="optradio" ng-model="alignWeather" value="BottomLeft" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                <td><span>R/B</span><input class="brgt1" type="radio" name="optradio" ng-model="alignWeather" value="BottomRight" ng-click="displayWeatherIcon(alignWeather)" /></td>
                            </tr>
                        </table>*@
                </fieldset>
            </div>
            <div class="form-group flt_rgt">
                <button type="button" class="btn btn-submit1 " value="Save" data-ng-click="saveTutorial(tutorial)">Save</button>
                &nbsp;<button class="btn btn-submit1" ng-click="refreshPage()">Cancel</button>
            </div>
        </form>


    </div>
    <div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-5 rgtSide2 upload " id="mas" ng-show="upload" ng-if="uploadValue == 1 ||uploadValue == 2" ng-class="ratio_containerV">
            <div class="ratio_container" id="container1">
                <div class="text">Preview Image</div>
                <img id="blah" src="#" class="ratio_img" alt="your image" />
            </div>
        </div>
    </div>
    @* Upload code ended here *@

    @* Custom Template Code starts here *@
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-10 rgtSide2" ng-show="customTemplate" ng-cloak>

        @*<div ng-include="'~/Views/Home/test.html'"></div>*@
        @*<cust-template></cust-template>*@

        <div class="cusTempNameMas">
            <form role="form" class="ng-pristine ng-valid">
                <div class="form-group ">
                    <fieldset>
                        <label for="SceneName">Custom Template Name</label>
                        <input class="form-control customInput" type="text" id="cusTempName" ng-model="custName" placeholder="Custom Template Name" />
                    </fieldset>
                </div>
            </form>
            <a class="savecusTemp decorat btn btn-submit1 " ng-click="customTemplateinnerHTML()">Save Custom Template</a>
        </div>
        <div id="gjs" style="height:0px; overflow:hidden;">
            <header class="header-banner">
                <div class="container-width">
                    <div class="logo-container">
                        <div class="logo"><img ng-src="{{browserURL}}/Images/custom_images/wipro.png" width="50" alt="Microsoft" /></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="lead-title"> Digital Signage Custom Template</div>
                    <div class="sub-lead-title">Digital Signage custom template content comes here...</div>
                    <div class="btm_Space"></div>
                </div>
            </header>
            @*<section class="flex-sect">

                </section>*@
            @*<link href="~/Content/Style/customDirective.css" rel="stylesheet" />*@
            <link ng-href="{{browserURL}}/Content/Style/customDirective.css" rel="stylesheet" />
        </div>
        <div class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="cusTempSuccess">
            <span>{{cusTempMsg}}</span>
        </div>
    </div>
    @* Custom Template code ends here *@

    @* Predefined Template Starts here *@
    <div class="col-md-9 col-sm-8 col-xs-12 col-lg-9 rgtSide2" ng-show="template" ng-cloak>
        @* new Template starts *@
        <div class="rgttbl" ng-show="mainTemp">
            <div class="typeDropdown">

                <select ng-model="templateType" ng-options="type for type in templateTypes" ng-change="changeType(templateType)" value="others">
                    <option selected value=""> --- Select Category ---</option>
                </select>

            </div>
            <div ng-hide="templateType"><h3>Please choose the category of the template</h3></div>
            <table ng-show="templateType" id="ListPreDefScene" class="table table-striped dtblThumb">
                <colgroup>
                    <col width="" />
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="templateList.length ==  0"><td><h3>No data available</h3></td></tr>
                    <tr ng-repeat="thumb in templateList">
                        <td>
                            <div class="thumb_align" data-highlightable="1">
                                <span class="sixteen_9" ng-show="thumb.id ==5 ||thumb.id ==6 ">16:9</span>
                                <span><img ng-src="{{thumb.imgUrl}}" title="Thumb Image Name." /></span>
                                <span class="cont">{{thumb.content}}</span>
                                <a href="#" ng-click="newTempFun(thumb.id)">Click to Edit & Upload ></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        @* subTemplate starts *@
        <div class="rgttbl" ng-show="subTemplate" ng-cloak>
            <div class="alert" ng-class="res.data == 'Success'?'alrtTxtSuccess':'failMsg'" id="templateSuccess">
                <span>{{templateMsg}}</span>
            </div>
            <div class="mgr_select" ng-show="animationTemp">
                <form>
                    <select><option>Select Category</option><option>Restaurant</option></select>
                </form>

                <div class="otherTemplates"><h4 ng-click="backTemp()">View other templates &raquo;</h4></div>
            </div>
            @* Template 1 starts *@
            <div class="mainTemplate" ng-class="ovr_mainTemplate_pr2Class" id="scene1" ng-show="Template=='Template5'" ng-cloak>
                <div class="tempImg col-md-8 col-sm-12 col-xs-12" ng-class="ovr_tempImg_pr2Class" id="template1">
                    <div class="txt1" ng-class="ovr_txt1_pr2Class">
                        <h3 ng-class="ovr_txt1_h3_pr2Class">{{conTemp1.conTemp1}}</h3>
                        <h2 ng-class="ovr_txt1_h2_pr2Class">{{conTemp1.conTemp2}}</h2>
                    </div>
                    <div class="txt2" ng-class="ovr_txt2_pr2Class">
                        <h4 ng-class="ovr_txt2_h4_pr2Class">{{conTemp1.conTemp3}}</h4>
                        <p ng-class="ovr_txt2_p_pr2Class">{{conTemp1.conTemp4}}</p>
                        <h3 ng-class="ovr_txt2_h3_pr2Class">{{conTemp1.conTemp5}}</h3>
                        <h2 ng-class="ovr_txt2_h2_pr2Class">{{conTemp1.conTemp6}}</h2>
                    </div>
                    <div class="mainImg" id="img1" ng-class="ovr_mainImg_pr2Class"><!----><img src="~/Images/WiproDigiBg.jpg" /></div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="Potato" ng-model="conTemp1.conTemp1" />
                            <input type="text" placeholder="Finger Chips" ng-model="conTemp1.conTemp2" />
                            <input type="text" placeholder="Sparkling Krushers 90" ng-model="conTemp1.conTemp3" />
                            <textarea rows="4" placeholder="Tempalate Description" ng-model="conTemp1.conTemp4"></textarea>
                            <input type="text" placeholder="Mini Leaf" ng-model="conTemp1.conTemp5" />
                            <input type="text" placeholder="90" ng-model="conTemp1.conTemp6" />
                            <input type="text" placeholder="Template Name" ng-model="conTemp1.tempName" maxlength="50" />


                            <input type='file' id='getval1' name="background-image" ng-click="changeImg('getval1','img1')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage3('template1')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            @* Template 1 starts *@

            <!--Template 2 Starts  ng-show="temp6"-->
            <div class="mainTemplate2" ng-class="ovr_mainTemplate2Class" ng-show="Template=='Template6'" id="scene2" ng-cloak>
                <div ng-class="ovr_tempImg2Class" class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="template2">
                    <div class="txt1a" ng-class="ovr_txt1aClass">
                        <h3 ng-class="ovr_newYork_ClassicClass">{{conTemp.conTemp1}}</h3>
                        <h2 ng-class="ovr_newYorkClass">{{conTemp.conTemp2}}</h2>
                        <div class="txt1aa" ng-class="ovr_txt1aaClass">
                            <h3 ng-class="ovr_Week5Class">{{conTemp.conTemp3}}</h3>
                            <p ng-class="ovr_7thjulyClass">{{conTemp.conTemp4}}</p>
                        </div>
                    </div>
                    <div class="txt2a" ng-class="ovr_txt2aClass">
                        <h3 ng-class="ovr_IcebergClass">{{conTemp.conTemp5}}</h3>
                        <p ng-class="ovr_IcebergPClass">{{conTemp.conTemp6}}</p>
                    </div>
                    <div class="txt3a" ng-class="ovr_txt3aClass">
                        <h3 ng-class="ovr_IcebergLetClass">{{conTemp.conTemp7}}</h3>
                        <h2 ng-class="ovr_IcebergLet190Class">{{conTemp.conTemp8}}</h2>
                    </div>

                    <div class="mainImg2" id="img2" ng-class="ovr_mainImg2Class"><img src="~/Images/temp2.png" ng-class="ovr_mainImg2Class" /></div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="NewYork Classic" ng-model="conTemp.conTemp1" />
                            <input type="text" placeholder="Burger" ng-model="conTemp.conTemp2" />
                            <input type="text" placeholder="Week 5" ng-model="conTemp.conTemp3" />
                            <input type="text" placeholder="7th July - 2nd Sep 2017" ng-model="conTemp.conTemp4" />
                            <input type="text" placeholder="Iceberg 190" ng-model="conTemp.conTemp5" />
                            <textarea rows="4" ng-model="conTemp.conTemp6" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull"></textarea>
                            <input type="text" placeholder="100% Iceberg Lettuce." ng-model="conTemp.conTemp7" />
                            <input type="text" placeholder="190" ng-model="conTemp.conTemp8" />
                            <input type="text" placeholder="Template Name" ng-model="conTemp.tempName" maxlength="50" />

                            <input type='file' id='getval2' name="background-image" ng-click="changeImg('getval2','img2')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage2('template2')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!--Template 2 ends  -->

            <p class="clr_both"><br></p>
            <!-- Template 3 -->
            <div class="mainTemplate3" ng-show="Template=='Template1'" id="scene3">
                <div class="tempImg2 col-md-7 col-sm-12 col-xs-12" id="template3">
                    <div class="mainImgTemp3" id="img3">
                        <span ng-class="weatherIconClass">
                            <img ng-show="showWeatherIcon" src="~/Images/weather.png" />
                        </span>
                        <h1>{{conTemp3.Heading}} </h1>
                        <h2>{{conTemp3.content1}}</h2>
                        <div class="cont1">
                            <h3>
                                {{conTemp3.content2}}
                            </h3>
                        </div>
                        <div class="cont1">
                            <h3 class="second">
                                {{conTemp3.content3}}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="NewYork Classic" ng-model="conTemp3.Heading" />
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp3.content1"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp3.content2"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp3.content3"></textarea>
                            @*<div>
                                    <span>select weather icon position</span>
                                    <div class="radio"><label><input type="radio" name="optradio" ng-model="alignWeather" value="TopRight" checked ng-click="displayWeatherIcon(alignWeather)">TopRight corner</label></div>
                                    <div class="radio"><label><input type="radio" name="optradio" ng-model="alignWeather" value="TopLeft" ng-click="displayWeatherIcon(alignWeather)">TopLeft corner</label></div>
                                    <div class="radio"><label><input type="radio" name="optradio" ng-model="alignWeather" value="BottomRight" ng-click="displayWeatherIcon(alignWeather)">BottomRight corner</label></div>
                                    <div class="radio"><label><input type="radio" name="optradio" ng-model="alignWeather" value="BottomLeft" ng-click="displayWeatherIcon(alignWeather)">BottomLeft corner</label></div>

                                </div>*@
                            <span>Select Weather icon position</span>
                            <table class="testTbl1" cellpadding="0" cellspacing="1" style="position:relative;" border="0">
                                <tr>
                                    <td><span>L/T</span><input class="tlft1" type="radio" name="optradio" ng-model="alignWeather" value="TopLeft" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                    <td><span>R/T</span><input class="lbtm1" type="radio" name="optradio" ng-model="alignWeather" value="TopRight" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                </tr>
                                <tr>
                                    <td><span>L/B</span><input class="trgt1" type="radio" name="optradio" ng-model="alignWeather" value="BottomLeft" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                    <td><span>R/B</span><input class="brgt1" type="radio" name="optradio" ng-model="alignWeather" value="BottomRight" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                </tr>
                            </table>
                            <input type="text" placeholder="Template Name" ng-model="conTemp3.tempName" maxlength="50" />
                            <input type='file' id='getval3' name="background-image" ng-click="changeImg('getval3','img3')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage('template3',alignWeather)">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- Template 3 -->
            <div id="img-out" style="display:none"></div>
            <!-- Template 3V -->
            <div class="mainTemplate3v specific" ng-show="Template=='Template2'" ng-cloak>
                <div class="tempImg2 col-md-6 col-sm-12 col-xs-12 " id="template3v">
                    <div class="mainImgTemp3v" id="img3v">
                        <span ng-class="weatherIconClass">
                            <img ng-show="showWeatherIcon" src="~/Images/weather.png" />
                        </span>
                        <h1>{{conTemp3v.Heading}} </h1>
                        <h2>{{conTemp3v.content1}}</h2>
                        <div class="cont1">
                            <h3>{{conTemp3v.content2}} </h3>
                            <h3 class="second">{{conTemp3v.content3}}</h3>
                        </div>
                    </div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="NewYork Classic" ng-model="conTemp3v.Heading" />
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp3v.content1"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp3v.content2"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp3v.content3"></textarea>
                            @*<div>
                                    <span>select weather icon position</span>
                                    <div class="radio"><label><input type="radio" name="optradio" ng-model="alignWeather" value="TopRight" checked ng-click="displayWeatherIcon(alignWeather)">TopRight corner</label></div>
                                    <div class="radio"><label><input type="radio" name="optradio" ng-model="alignWeather" value="TopLeft" ng-click="displayWeatherIcon(alignWeather)">TopLeft corner</label></div>
                                    <div class="radio"><label><input type="radio" name="optradio" ng-model="alignWeather" value="BottomRight" ng-click="displayWeatherIcon(alignWeather)">BottomRight corner</label></div>
                                    <div class="radio"><label><input type="radio" name="optradio" ng-model="alignWeather" value="BottomLeft" ng-click="displayWeatherIcon(alignWeather)">BottomLeft corner</label></div>

                                </div>*@
                            <span>Select Weather icon position</span>
                            <table class="testTbl1" cellpadding="0" cellspacing="1" style="position:relative;" border="0">
                                <tr>
                                    <td><span>L/T</span><input class="tlft1" type="radio" ng-model="alignWeather" value="TopLeft" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                    <td><span>R/T</span><input class="lbtm1" type="radio" ng-model="alignWeather" value="TopRight" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                </tr>
                                <tr>
                                    <td><span>L/B</span><input class="trgt1" type="radio" ng-model="alignWeather" value="BottomLeft" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                    <td><span>R/B</span><input class="brgt1" type="radio" ng-model="alignWeather" value="BottomRight" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                </tr>
                            </table>
                            <input type="text" placeholder="Template Name" ng-model="conTemp3v.tempName" maxlength="50" />
                            <input type="file" id='getval3v' name="background-image" ng-click="changeImg('getval3v','img3v')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" id="btnSave" ng-click="generateImage1('template3v',alignWeather)">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <div id="img-out" style="display:none;"></div> <!-- Image will be rendering in this div -->
            <!-- Template 3V -->
            <!-- Template 4  -->
            <div class="mainTemplate4" ng-show="Template=='Template3'">
                <div class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="template4">
                    <div class="mainImgTemp4" id="img4">
                        <h1>{{conTemp4.Heading}}</h1>

                        <div class="cont1">
                            <h3>{{conTemp4.content1}}</h3>
                        </div>
                        <div class="cont1a">
                            <h3>{{conTemp4.content2}}</h3>
                        </div>
                        <h2>{{conTemp4.content3}}</h2>
                    </div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="NewYork Classic" ng-model="conTemp4.Heading" />
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp4.content1"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp4.content2"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp4.content3"></textarea>
                            <input type="text" placeholder="Template Name" ng-model="conTemp4.tempName" maxlength="50" />
                            <input type="file" id='getval4' name="background-image" ng-click="changeImg('getval4','img4')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" id="btnSave" ng-click="generateImage4('template4')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- Template 4  -->
            <!-- Template 4V Starts -->
            <div class="mainTemplate4v" ng-show="Template=='Template4'">
                <div class="tempImg2 col-md-6 col-sm-12 col-xs-12" id="template4v">
                    <div class="mainImgTemp4v" id="img4v">
                        <h1>{{conTemp4v.Heading}}</h1>
                        <div class="cont1">
                            <h3>{{conTemp4v.content1}}</h3>
                        </div>
                        <div class="cont1a">
                            <h3>{{conTemp4v.content2}}</h3>
                        </div>
                        <h2>{{conTemp4v.content3}}</h2>
                    </div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="NewYork Classic" ng-model="conTemp4v.Heading" />
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp4v.content1"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp4v.content2"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp4v.content3"></textarea>
                            <div>
                                select weather icon position
                                <input type="radio" name="alignWeather" ng-model="alignWeather" value="topRight" checked>TopRight corner<br>
                                <input type="radio" name="alignWeather" ng-model="alignWeather" value="topLeft"> TopLeft corner<br>
                                <input type="radio" name="alignWeather" ng-model="alignWeather" value="other"> Other
                            </div>
                            <input type="text" placeholder="Template Name" ng-model="conTemp4v.tempName" />
                            <input type="file" id='getval4v' name="background-image" ng-click="changeImg('getval4v','img4v')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage4v('template4v')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- Template 4V Ends  -->
            <!-- Template 5 Starts  -->
            <div class="mainTemplate5" ng-show="Template=='Template7'">
                <div class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp5">
                    <div class="mainImgTemp5" id="img5">
                        <h1>{{conTemp5.Heading }}</h1>
                        <div class="rgt_align">
                            <div class="cont1 txtFrmt">
                                <h3>{{conTemp5.content1}}</h3>
                            </div>
                            <div class="cont1">
                                <h3>{{conTemp5.content2}}</h3>
                            </div>
                        </div>
                        <h2>{{conTemp5.content3}}</h2>
                    </div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="NewYork Classic" ng-model="conTemp5.Heading" />
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp5.content1"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp5.content2"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp5.content3"></textarea>
                            <input type="text" placeholder="Template Name" ng-model="conTemp5.tempName" />
                            <input type="file" id='getval5' name="background-image" ng-click="changeImg('getval5','img5')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage5('newTemp5')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- Template 5 Ends  -->
            <!-- Template 5V Starts -->
            <div class="mainTemplate5v" ng-show="Template=='Template8'">
                <div class="tempImg2 col-md-6 col-sm-12 col-xs-12" id="newTemp5v">
                    <div class="mainImgTemp5v" id="img5v">
                        <h1>{{conTemp5v.Heading}}</h1>

                        <div class="cont1">
                            <h3>{{conTemp5v.content1}}</h3>
                        </div>
                        <div class="cont1a">
                            <h3>{{conTemp5v.content2}}</h3>
                        </div>
                        <h2>{{conTemp5v.content3}} </h2>
                    </div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="NewYork Classic" ng-model="conTemp5v.Heading" />
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp5v.content1"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp5v.content2"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp5v.content3"></textarea>
                            <input type="text" placeholder="Template Name" ng-model="conTemp5v.tempName" />
                            <input type="file" id='getval5v' name="background-image" ng-click="changeImg('getval5v','img5v')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage5v('newTemp5v')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- Template 5V Ends  -->
            <!-- Template 6 Starts -->
            <div class="mainTemplate6" ng-show="Template=='Template9'">
                <div class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp6">
                    <div class="mainImgTemp6" id="img6">
                        <h1>{{conTemp6.Heading}}</h1>

                        <div class="cont1">
                            <h3>{{conTemp6.content1}}</h3>
                        </div>

                        <h2>{{conTemp6.content2}}</h2>
                    </div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="NewYork Classic" ng-model="conTemp6.Heading" />
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp6.content1"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp6.content2"></textarea>
                            <input type="text" placeholder="Template Name" ng-model="conTemp6.tempName" />
                            <input type="file" id='getval6' name="background-image" ng-click="changeImg('getval6','img6')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage6('newTemp6')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- Template 6 Ends  -->
            <!-- Template 6V Starts -->
            <div class="mainTemplate6v" ng-show="Template=='Template10'">
                <div class="tempImg2 col-md-6 col-sm-12 col-xs-12" id="newTemp6v">
                    <div class="mainImgTemp6v" id="img6v">
                        <h1>{{conTemp6v.Heading}}</h1>
                        <div class="cont1">
                            <h3>{{conTemp6v.content1 }}</h3>
                        </div>
                        <h2>{{conTemp6v.content2}}</h2>
                    </div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <div class="testDiv">
                            <input type="text" placeholder="NewYork Classic" ng-model="conTemp6v.Heading" />
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp6v.content1"></textarea>
                            <textarea rows="4" placeholder="Lorem ipsum dolor sit amet, dignissim nibh, accumsan et ipsum sit amet, diguyg sim vull" ng-model="conTemp6v.content2"></textarea>
                            <input type="text" placeholder="Template Name" ng-model="conTemp6v.tempName" />
                            <input type="file" id='getval6v' name="background-image" ng-click="changeImg('getval6v','img6v')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage6v('newTemp6v')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <div class="mainTemplate" ng-class="ovr_mainTemplate_pr2Class" id="scene11" ng-show="Template=='Template11'" ng-cloak>
                <div class=" col-md-8 col-sm-12 col-xs-12" ng-class="temp11_block" id="template11">
                    <div ng-class="temp11_t_leaf_bg">
                        <div ng-class="temp11_t_icon_bg">
                            <h3>{{conTemp7.discountHeading}}</h3>
                            <div ng-class="temp11_t_thirty_per">
                                <h1>{{conTemp7.Discount}}</h1>
                                <h3>Off</h3>
                                <span ng-class="temp11_t_span_line"></span>
                            </div>
                        </div>
                        <div ng-class="temp11_t_double_line_mas">
                            <span ng-class="temp11_t_d_line"></span>
                            <div ng-class="temp11_t_df2_mas">
                                <h1>
                                    {{conTemp7.name}}
                                    <span>2</span>
                                </h1>
                                <div ng-class="temp11_t_omega">{{conTemp7.content1}}</div>

                            </div>
                            <span ng-class="temp11_t_d_line"></span>
                        </div>
                        <div ng-class="temp11_t_fish_img">
                            <img src="~/images/fish.png" border="0" />
                        </div>
                    </div>

                    <div ng-class="temp11_t_orange_cur_mas">
                        <img src="~/images/orange_curve.png" />
                    </div>

                    <div ng-class="temp11_t_orange_bg1">
                        <div ng-class="temp11_blk1">
                            <span ng-class="temp11_t_f_img1">
                                <img src="~/images/orange_white_fish.png" />
                            </span>
                            <h2>{{conTemp7.content2}}</h2>
                            <h1>{{conTemp7.content3}}</h1>
                        </div>
                        <div ng-class="temp11_blk2">
                            <h4>{{conTemp7.content4}}</h4>
                            <h5>{{conTemp7.offerDate}}</h5>
                        </div>
                    </div>
                    <div ng-class="temp11_t_white_bg1">
                        <img src="~/images/f_fry_icon.png" />
                    </div>
                    <div ng-class="temp11_t_grey_bg1">
                        <h4>{{conTemp7.content5}}</h4>
                    </div>
                    <div ng-class="temp11_t_green_bg1">
                        <ul ng-class="temp11_days">
                            <li>
                                <h2 ng-class="temp11_one">{{conTemp7.grpList1}}</h2>
                                <p>{{conTemp7.grpListCont1}} </p>
                            </li>
                            <li>
                                <h2 ng-class="temp11_two">{{conTemp7.grpList2}}</h2>
                                <p>{{conTemp7.grpListCont2}} </p>
                            </li>
                            <li>
                                <h2 ng-class="temp11_three">{{conTemp7.grpList3}}</h2>
                                <p>{{conTemp7.grpListCont2}} </p>
                            </li>
                            <li>
                                <h2 ng-class="temp11_four">{{conTemp7.grpList4}}</h2>
                                <p>{{conTemp7.grpListCont4}}</p>
                            </li>
                        </ul>
                        <div ng-class="temp11_t_hotelName">
                            <span>
                                <img src="~/images/btm_logo.png" />
                            </span>
                            <h4>{{conTemp7.hotelHead}}</h4>
                            <h5>{{conTemp7.hotelHead1}} <br></h5>
                        </div>
                    </div>
                </div>
                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <div>
                            <!--   class="testDiv" was removed to hide scrollbar-->
                            <input type="text" placeholder="{{conTemp7.discountHeading}}" ng-model="conTemp7.discountHeading" />
                            <input type="text" placeholder="{{conTemp7.Discount}}" ng-model="conTemp7.Discount" />
                            <input type="text" placeholder="{{conTemp7.name}}" ng-model="conTemp7.name" />
                            <input type="text" placeholder="{{conTemp7.content1}}" ng-model="conTemp7.content1" />
                            <input type="text" placeholder="{{conTemp7.content2}}" ng-model="conTemp7.content2" />
                            <input type="text" placeholder="{{conTemp7.content3}}" ng-model="conTemp7.conent3" />
                            <input type="text" placeholder="{{conTemp7.content4}}" ng-model="conTemp7.content4" />
                            <input type="text" placeholder="{{conTemp7.offerDate}}" ng-model="conTemp7.offerDate" />
                            <input type="text" placeholder="{{conTemp7.content5}}" ng-model="conTemp7.content5" />
                            <input type="text" placeholder="{{conTemp7.grpList1}}" ng-model="conTemp7.grpList1" />
                            <textarea rows="4" placeholder="Tempalate Description" ng-model="conTemp7.grpListCont1"></textarea>
                            <input type="text" placeholder="{{conTemp7.grpList2}}" ng-model="conTemp7.grpList2" />
                            <textarea rows="4" placeholder="Tempalate Description" ng-model="conTemp7.grpListCont2"></textarea>
                            <input type="text" placeholder="{{conTemp7.grpList3}}" ng-model="conTemp7.grpList3" />
                            <textarea rows="4" placeholder="Tempalate Description" ng-model="conTemp7.grpListCont3"></textarea>
                            <input type="text" placeholder="{{conTemp7.hotelHead}}" ng-model="conTemp7.hotelHead" />
                            <input type="text" placeholder="90" ng-model="conTemp7.hotelHead1" />
                            <input type="text" placeholder="Template Name" ng-model="conTemp7.tempName" />
                            <input type='file' id='getval1' name="background-image" ng-click="changeImg('getval1','img1')" />
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage11('Template11')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- Template 6V Ends  -->
            <!-- Template 12 School start-->
            <div ng-class="ovr_mainTemplate_pr2Class" ng-show="Template=='Template12'">
                <div ng-class="ovr_tempImg2Class" class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp12">
                    <div ng-class="school_bg1">
                        <span ng-class="weatherIconClass">
                            <img ng-show="showWeatherIcon" src="~/Images/weather.png" />
                        </span>
                        <div ng-class="school_img2"><img id="getTemplateInpBG12" ng-class="getTemplateInpBG12" src="~/Images/img2.jpg" /></div>
                        <div ng-class="school_txt_mas">

                            <h1 ng-class="b2School">{{content12.b2School}}</h1>
                            <p ng-class="june_txt">{{content12.DateText}} <span>{{content12.DateTextYear}}</span></p>
                            <h3>{{content12.SchoolName}} </h3>
                            <p ng-class="shortDesc">{{content12.shortDesc1}}'<br>{{content12.shortDesc2}}</p>
                            <h2 ng-class="collect">{{content12.Collect}}</h2>

                        </div>
                    </div>
                </div>

                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <input type="text" placeholder="{{content12.DateText}}" ng-model="content12.DateText" />
                        <input type="text" placeholder="{{content12.DateTextYear}}" ng-model="content12.DateTextYear" />
                        <input type="text" placeholder="{{content12.SchoolName}}" ng-model="content12.SchoolName" />
                        <input type="text" placeholder="{{content12.b2School}}" ng-model="content12.b2School" />
                        <input type="text" placeholder="{{content12.shortDesc1}}" ng-model="content12.shortDesc1" />
                        <input type="text" placeholder="{{content12.shortDesc2}}" ng-model="content12.shortDesc2" />
                        <span>Select Weather Icon position</span>
                        <table class="testTbl1" cellpadding="0" cellspacing="1" style="position:relative;" border="0">
                            <tr>
                                <td><span>L/T</span><input class="tlft1" type="radio" ng-model="alignWeather" value="TopLeft" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                <td><span>R/T</span><input class="lbtm1" type="radio" ng-model="alignWeather" value="TopRight" ng-click="displayWeatherIcon(alignWeather)" /></td>
                            </tr>
                            <tr>
                                <td><span>L/B</span><input class="trgt1" type="radio" ng-model="alignWeather" value="BottomLeft" ng-click="displayWeatherIcon(alignWeather)" /></td>
                                <td><span>R/B</span><input class="brgt1" type="radio" ng-model="alignWeather" value="BottomRight" ng-click="displayWeatherIcon(alignWeather)" /></td>
                            </tr>
                        </table>
                        <input type="text" placeholder="{{content12.Collect}}" ng-model="content12.Collect" />
                        <input type="text" placeholder="Template Name" ng-model="content12.tempName" maxlength="50" />
                        <input type='file' id='getTemplateInp12' name="background-image" ng-click="changeImgNew('getTemplateInp12','getTemplateInpBG12')" />

                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage12('newTemp12',alignWeather)">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- end of template 12 school-->
            <!-- Template13 School start-->
            <div ng-class="ovr_mainTemplate_pr2Class" ng-show="Template=='Template13'">
                <div ng-class="ovr_tempImg2Class" class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp13">
                    <div ng-class="school_bg2" class="school_bg2">
                        <div ng-class="school2_img2" class="school2_img2">
                            <img id="getTemplateInpBG13" src="~/Images/school2.png" />
                        </div>
                        <div ng-class="school2_txt_mas" class="school2_txt_mas">
                            <div ng-class="new_admission" class="new_admission">{{content13.new_admission}}</div>
                            <h2>Baby Care</h2>

                            @*<h2>{{content13.SchoolName}}</h2>*@
                            <div ng-class="from_to_mas" class="from_to_mas">
                                <div ng-class="fromDate_mas" class="fromDate_mas">
                                    <span ng-class="fromDate" class="fromDate">{{content13.fromDate}}</span>
                                    <span ng-class="fromDate1" class="fromDate1">{{content13.fromDate1}}</span>
                                </div>
                                <div ng-class="toDate_mas" class="toDate_mas">
                                    <span ng-class="toDate" class="toDate">{{content13.toDate}}</span>
                                    <span ng-class="toDate1" class="toDate1">{{content13.toDate1}}</span>
                                </div>
                            </div>
                            <div ng-class="btm_block" class="btm_block">
                                <p ng-class="phoneNum" class="phoneNum">{{content13.phoneNum}}</p>
                                <p ng-class="add1" class="add1">
                                    <b>{{content13.addrs1}}</b> <br>{{content13.addrs2}}<br> {{content13.addrs3}}
                                </p>
                            </div>
                            <div ng-class="infoCard_mas" class="infoCard_mas">
                                <img src="~/Images/info_card.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <input type="text" placeholder="{{content13.new_admission}}" ng-model="content13.new_admission" />
                        <input type="text" placeholder="{{content13.SchoolName}}" ng-model="content13.SchoolName" />
                        <input type="text" placeholder="{{content13.fromDate}}" ng-model="content13.fromDate" />
                        <input type="text" placeholder="{{content13.fromDate1}}" ng-model="content13.fromDate1" />
                        <input type="text" placeholder="{{content13.toDate}}" ng-model="content13.toDate" />
                        <input type="text" placeholder="{{content13.phoneNum}}" ng-model="content13.phoneNum" />

                        <input type="text" placeholder="{{content13.addrs1}}" ng-model="content13.addrs1" />
                        <input type="text" placeholder="{{content13.addrs2}}" ng-model="content13.addrs2" />
                        <input type="text" placeholder="{{content13.addrs3}}" ng-model="content13.addrs3" />
                        <input type="text" placeholder="Template Name" ng-model="content13.tempName" maxlength="50" />
                        <input type='file' id='getTemplateInp13' name="background-image" ng-click="changeImgNew('getTemplateInp13','getTemplateInpBG13')" />

                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage14('newTemp13')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>

            <!-- End of template 13-->
            <!-- TEMPLATE 14  -->
            <div ng-class="ovr_mainTemplate_pr2Class" ng-show="Template=='Template14'">
                <div ng-class="ovr_tempImg2Class" class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp14">
                    <div ng-class="school_bg3" class="school_bg3">
                        <div ng-class="school3_img2" class="school3_img2">
                            <img id="getTemplateInpBG14" src="~/Images/school3.jpg" />
                        </div>
                        <div ng-class="s3_weare_mas" class="s3_weare_mas">
                            <div ng-class="s3_weare" class="s3_weare">We're</div>
                            <div ng-class="s3_back" class="s3_back">
                                <span>B</span>
                                <span>a</span>
                                <span>c</span>
                                <span>k</span>
                            </div>
                            <div ng-class="s3_weare" class="s3_weare">to our classes.</div>

                        </div>
                        <div ng-class="bg_gradiBag"></div>
                        <p>{{content14.discript}}</p>

                    </div>
                </div>

                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <input type="text" placeholder="{{content14.discript}}" ng-model="content14.discript" />
                        <input type='file' id='getTemplateInp14' name="background-image" ng-click="changeImgNew('getTemplateInp14','getTemplateInpBG14')" />
                        <input type="text" placeholder="Template Name" ng-model="content14.tempName" maxlength="50" />
                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage14('newTemp14')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- end of template 14 school-->
            <!-- TEMPLATE 15    -->
            <div ng-class="ovr_mainTemplate_pr2Class" ng-show="Template=='Template15'">
                <div ng-class="ovr_tempImg2Class" class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp15">
                    <div ng-class="coffee3_bg" class="coffee3_bg">
                        <div ng-class="taste" class="taste">{{content15.taste}}</div>
                        <div ng-class="freshness" class="freshness">{{content15.freshness}}</div>
                        <div ng-class="special1" class="special1">
                            {{content15.speacial}}<span>{{content15.speacial1}}</span>{{content15.special2}}
                        </div>
                        <div ng-class="coffee3_img2" class="coffee3_img2">
                            <img id="getTemplateInpBG15" src="~/Images/c3.jpg" />
                        </div>
                    </div>
                </div>

                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <input type="text" placeholder="{{content15.taste}}" ng-model="content15.taste" />
                        <input type="text" placeholder="{{content15.freshness}}" ng-model="content15.freshness" />
                        <input type="text" placeholder="{{content15.speacial}}" ng-model="content15.speacial" />
                        <input type="text" placeholder="{{content15.speacial1}}" ng-model="content15.speacial1" />
                        <input type="text" placeholder="{{content15.special2}}" ng-model="content15.special2" />
                        <input type="text" placeholder="Template Name" ng-model="content15.tempName" maxlength="50" />
                        <input type='file' id='getTemplateInp15' name="background-image" ng-click="changeImgNew('getTemplateInp15','getTemplateInpBG15')" />

                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage14('newTemp15')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- end of template 15 school-->
            <!-- TEMPLATE 16    -->
            <div ng-class="ovr_mainTemplate_pr2Class" ng-show="Template=='Template16'">
                <div ng-class="ovr_tempImg2Class" class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp16">
                    <div ng-class="coffee2_bg" class="coffee2_bg">
                        <div ng-class="coffee2_img2" class="coffee2_img2">
                            <img id="getTemplateInpBG16" src="~/Images/coffee_glass_cup.jpg" />
                        </div>

                        <div ng-class="getRich_block " class="getRich_block">
                            <div ng-class="getRich_block_mas" class="getRich_block_mas">
                                <span ng-class="getRich" class="getRich">{{content16.getRich}}</span>
                            </div>
                            <div ng-class="good_c_block" class="good_c_block">{{content16.good_c_block}}</div>

                        </div>
                        <div ng-class="good_c_block2" class="good_c_block2">{{content16.good_c_block2}}</div>
                    </div>
                </div>

                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <input type="text" placeholder="{{content16.getRich}}" ng-model="content16.getRich" />
                        <input type="text" placeholder="{{content16.good_c_block}}" ng-model="content16.good_c_block" />
                        <input type="text" placeholder="{{content16.good_c_block2}}" ng-model="content16.good_c_block2" />
                        <input type="text" placeholder="Template Name" ng-model="content16.tempName" maxlength="50" />
                        <input type='file' id='getTemplateInp16' name="background-image" ng-click="changeImgNew('getTemplateInp16','getTemplateInpBG16')" />

                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage14('newTemp16')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- end of template 16 school-->
            <!-- TEMPLATE 17    -->
            <div ng-class="ovr_mainTemplate_pr2Class" ng-show="Template=='Template17'">
                <div ng-class="ovr_tempImg2Class" class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp17">
                    <div ng-class="coffee1_bg3" class="coffee1_bg3">
                        <div ng-class="coffee1_img2" class="coffee1_img2">
                            <img id="getTemplateInpBG17" src="~/Images/cofee1_seed1.png" />
                        </div>
                        <div ng-class="coffee1_txt_mas" class="coffee1_txt_mas">
                            <h2 ng-class="rotate" class="rotate">{{content17.rotate}}</h2>

                            <div ng-class="leftcard">
                                <img src="~/Images/coffee_lft_Strip.png" />
                            </div>
                        </div>
                        <div ng-class="perfect_block" class="perfect_block">
                            <div ng-class="per_cof_block" class="per_cof_block"><span class="perfect1">{{content17.perfect1}}</span> <span class="coffee1">&nbsp;{{content17.coffee1}}</span></div>
                            <div ng-class="real_block" class="real_block">{{content17.real_block}}</div>
                            <div ng-class="real_block2" class="real_block2">{{content17.real_block2}}</div>
                            <div><img src="~/Images/coffee_blk_strip.png" /></div>
                        </div>
                    </div>
                </div>

                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <input type="text" placeholder="{{content17.rotate}}" ng-model="content17.rotate" />
                        <input type="text" placeholder="{{content17.perfect1}}" ng-model="content17.perfect1" />
                        <input type="text" placeholder="{{content17.coffee1}}" ng-model="content17.coffee1" />
                        <input type="text" placeholder="{{content17.real_block}}" ng-model="content17.real_block" />
                        <input type="text" placeholder="{{content17.real_block2}}" ng-model="content17.real_block2" />
                        <input type="text" placeholder="Template Name" ng-model="content17.tempName" maxlength="50" />
                        <input type='file' id='getTemplateInp17' name="background-image" ng-click="changeImgNew('getTemplateInp17','getTemplateInpBG17')" />

                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage14('newTemp17')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- end of template 17 school-->
            <!-- TEMPLATE 18    -->
            <div ng-class="ovr_mainTemplate_pr2Class" ng-show="Template=='Template18'">
                <div ng-class="ovr_tempImg2Class" class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp18">
                    <div ng-class="school_bg4" class="school_bg4">
                        <div ng-class="red_left_bg" class="red_left_bg">
                            <div ng-class="sc4_usa" class="sc4_usa">{{content18.sc4_usa}}</div>
                            <p ng-class="sc4_excell" class="sc4_excell">{{content18.sc4_excell}}</p>
                            <div ng-class="sc4_We_wel" class="sc4_We_wel">
                                <p>{{content18.sc4_We_wel}}</p>
                            </div>
                            <div ng-class="sc4_Educat" class="sc4_Educat">
                                {{content18.sc4_Educat}}
                            </div>
                        </div>
                        <div ng-class="sc4_white_bg" class="sc4_white_bg">
                            <p>{{content18.sc4_white_bg}}</p>
                        </div>
                        <div ng-class="school4_img2" class="school4_img2">
                            <img id="getTemplateInpBG18" src="~/Images/school4.png" />
                        </div>


                    </div>
                </div>

                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <input type="text" placeholder="{{content18.sc4_usa}}" ng-model="content18.sc4_usa" />
                        <input type="text" placeholder="{{content18.sc4_excell}}" ng-model="content18.sc4_excell" />
                        <input type="text" placeholder="{{content18.sc4_We_wel}}" ng-model="content18.sc4_We_wel" />
                        <input type="text" placeholder="{{content18.sc4_Educat}}" ng-model="content18.sc4_Educat" />
                        <input type="text" placeholder="{{content18.sc4_white_bg}}" ng-model="content18.sc4_white_bg" />
                        <input type="text" placeholder="Template Name" ng-model="content18.tempName" maxlength="50" />
                        <input type='file' id='getTemplateInp18' name="background-image" ng-click="changeImgNew('getTemplateInp18','getTemplateInpBG18')" />

                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage14('newTemp18')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- end of template 18 school-->
            <!-- TEMPLATE 19    -->
            <div ng-class="ovr_mainTemplate_pr2Class" ng-show="Template=='Template19'">
                <div ng-class="ovr_tempImg2Class" class="tempImg2 col-md-8 col-sm-12 col-xs-12" id="newTemp19">
                    <div ng-class="coffee4_bg" class="coffee4_bg">
                        <div ng-class="cof4_cday" class="cof4_cday">
                            {{content19.cof4_cday}}
                        </div>
                        <p ng-class="cof4_law" class="cof4_law">{{content19.cof4_law}}</p>
                        <p ng-class="cof4_add" class="cof4_add">{{content19.cof4_add}}</p>
                        <div ng-class="coffee4_img2" class="coffee4_img2">
                            <img id="getTemplateInpBG19" src="~/Images/coffee_art_bg.png" />
                        </div>


                    </div>
                </div>

                <div class="TemplateForm col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div>
                        <h4>Place holders</h4>
                        <input type="text" placeholder="{{content19.cof4_cday}}" ng-model="content19.cof4_cday" />
                        <input type="text" placeholder="{{content19.cof4_law}}" ng-model="content19.cof4_law" />
                        <input type="text" placeholder="{{content19.cof4_add}}" ng-model="content19.cof4_add" />
                        <input type="text" placeholder="Template Name" ng-model="content19.tempName" maxlength="50" />
                        <input type='file' id='getTemplateInp19' name="background-image" ng-click="changeImgNew('getTemplateInp19','getTemplateInpBG19')" />

                    </div>
                </div>
                <div>
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="generateImage14('newTemp19')">Save</button></li>
                        <li><button class="btn btn-success" ng-click="refreshPage()">Cancel</button></li>
                    </ul>
                </div>
            </div>
            <!-- end of template 18 school-->
            @*<div ng-show="animationTemp">
                    <ul class="tempButList">
                        <li>Delete Template</li>
                        <li>Template Position <input class="noofTemp" placeholder="0" type="text"></li>
                        <li><button class="btn btn-success" ng-click="saveTemp()">Publish</button></li>
                    </ul>
                </div>*@
        </div>
        @* subTemplate ends *@
        @* new Template ends *@
    </div>
    @* Predefined Template ends here *@

    @* modal directive started*@
    <modal-comp title="Property Details" visible="showcompModal" ng-cloak></modal-comp>
    @* modal *@
</div>
