@{
    ViewBag.Title = "templatesView";
}

<div class="container newside" ng-controller="TemplatesController as vm">
   Hello world! 
    <div ui-view="temp"></div>
        <h1>Custom Templates</h1>
        <div class="row">
            <div class=" container1 col-sm-6 col-md-4">
                <div class="thumbnailTemplate" id="bgImage">
                     @*<img class="roundImage" src="/Assets/img/templateDraft1.png" alt="2 in 1">*@ 
                    <div class="caption">
                        <h3 class="centerText title">"2 in 1"</h3>
                    </div>
                    <div class="overlay"></div>
                    <div class="button1">
                        <button class="btn btn-success"  ng-click="vm.openModal('custom-modal-1')">Click to design yours !!</button>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class=" container1 col-sm-6 col-md-4">
                <div class="thumbnailTemplate">
                    <!-- <img class="roundImage" src="/Assets/img/fromTemplate.png" alt="3 in 1"> -->
                    <div class="caption">
                        <h3 class="centerText title">"3 in 1"</h3>
                    </div>
                    <!-- <p class="title">card tik</p> -->
                    <div class="overlay"></div>
                    <div class="button1">
                        <button class="btn btn-success" ng-click="vm.openModal('custom-modal-2')">Click to design yours !!</button>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class=" container1 col-sm-6 col-md-4">
                <div class="thumbnailTemplate">
                    <!-- <img class="roundImage" src="/Assets/img/twitterTemplate.png" alt="Read Me"/> -->
                    <div class="caption">
                        <h3 class="centerText title">Read Me !!</h3>
                    </div>
                    <div class="overlay"></div>
                    <div class="button1">
                        <button class="btn btn-success" ng-click="vm.openModal('custom-modal-3')">Click to design yours !!</button>
                    </div>
                </div>
            </div>
            <div class=" container1 col-sm-6 col-md-4">
                <div class="thumbnailTemplate">
                    <!-- <img class="roundImage" src="/Assets/img/fromTemplate.png" alt="3 in 1"> -->
                    <div class="caption">
                        <h3 class="centerText title">"3 in 1"</h3>
                    </div>
                    <!-- <p class="title">card tik</p> -->
                    <div class="overlay"></div>
                    <div class="button1">
                        <button class="btn btn-success" ng-click="vm.openModal('custom-modal-4')">Click to design yours !!</button>
                    </div>
                </div>
            </div>

            <div class=" container1 col-sm-6 col-md-4">
                <div class="thumbnailTemplate">
                    <!-- <img class="roundImage" src="/Assets/img/fromTemplate.png" alt="3 in 1"> -->
                    <div class="caption">
                        <h3 class="centerText title">"3 in 1"</h3>
                    </div>
                    <!-- <p class="title">card tik</p> -->
                    <div class="overlay"></div>
                    <div class="button1">
                        <button class="btn btn-success" ng-click="vm.openModal('custom-modal-5')">Click to design yours !!</button>
                    </div>
                </div>
            </div>

            <div class=" container1 col-sm-6 col-md-4">
                <div class="thumbnailTemplate">
                    <!-- <img class="roundImage" src="/Assets/img/fromTemplate.png" alt="3 in 1"> -->
                    <div class="caption">
                        <h3 class="centerText title">"3 in 1"</h3>
                    </div>
                    <!-- <p class="title">card tik</p> -->
                    <div class="overlay"></div>
                    <div class="button1">
                        <button class="btn btn-success" ng-click="vm.openModal('custom-modal-6')">Click to design yours !!</button>
                    </div>
                </div>
            </div>

            <div class=" container1 col-sm-6 col-md-4">
                <div class="thumbnailTemplate">
                    <!-- <img class="roundImage" src="/Assets/img/fromTemplate.png" alt="3 in 1"> -->
                    <div class="caption">
                        <h3 class="centerText title">"3 in 1"</h3>
                    </div>
                    <!-- <p class="title">card tik</p> -->
                    <div class="overlay"></div>
                    <div class="button1">
                        <button class="btn btn-success" ng-click="vm.openModal('custom-modal-7')">Click to design yours !!</button>
                    </div>
                </div>
            </div>

            <div class=" container1 col-sm-6 col-md-4">
                <div class="thumbnailTemplate">
                    <!-- <img class="roundImage" src="/Assets/img/fromTemplate.png" alt="3 in 1"> -->
                    <div class="caption">
                        <h3 class="centerText title">"3 in 1"</h3>
                    </div>
                    <!-- <p class="title">card tik</p> -->
                    <div class="overlay"></div>
                    <div class="button1">
                        <button class="btn btn-success" ng-click="vm.openModal('custom-modal-8')">Click to design yours !!</button>
                    </div>
                </div>
            </div>

            <div class=" container1 col-sm-6 col-md-4">
                <div class="thumbnailTemplate">
                    <!-- <img class="roundImage" src="/Assets/img/fromTemplate.png" alt="3 in 1"> -->
                    <div class="caption">
                        <h3 class="centerText title">"3 in 1"</h3>
                    </div>
                    <!-- <p class="title">card tik</p> -->
                    <div class="overlay"></div>
                    <div class="button1">
                        <button class="btn btn-success" ng-click="vm.openModal('custom-modal-9')">Click to design yours !!</button>
                    </div>
                </div>
            </div>

        </div>
        <!--Dyanamic Template 1 -->

        <modal id="custom-modal-1">
            <div class="modal">
                <div class="modal-body">
                    <button type="button" class="close" aria-label="Close" ng-click="vm.closeModal('custom-modal-1');">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class='row'>
                        <div class='col-sm-11 col-md-7 col-lg-7  modalBorder' id="templateContent">
                            <div class="component">
                                <div class="css-device css-device--tablet col-sm-12 col-md-12 col-lg-12 noPadding">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <h3 class="alignCenter marginTopBottom">{{game}}</h3>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 marginTopBottom">
                                        <img ng-src="{{fileSelectedLeft.fileUrl}}" alt="display left">
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 marginTopBottom">
                                        <img ng-src="{{fileSelectedRight.fileUrl}}" alt="display Right">
                                    </div>
                                    <div class="scroll-slow col-sm-12 col-md-12 col-lg-12">
                                        <p class="fontFamilyRaleway">{{scrollText}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-11 col-md-4 col-lg-4">
                            <div class="col-sm-11 col-md-11 col-lg-11">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h1>Design your board :</h1>
                                    <label for="header">Select the header :</label>
                                    <input type="text" name="header" value="" ng-model="game">

                                    <label for="scrollT">Select the scrollable footer :</label>
                                    <input type="text" name="scrollT" value="" ng-model="scrollText">
                                </div>

                                <div class="col-sm-11 col-md-11 col-lg-11 marginBottom70">
                                    <label for="imgLeft">Select image for left screen :</label>
                                    <dropdown placeholder="Select image.." list="filesLeft" selected="fileSelectedLeft" property="name"></dropdown>
                                </div>
                                <div class="col-sm-11 col-md-11 col-lg-11 marginBottom70">
                                    <label for="imgRight">Select image for right screen :</label>
                                    <dropdown placeholder="Select image.. .." list="filesRight" selected="fileSelectedRight" property="name"></dropdown>
                                </div>
                            </div>
                            <div class="col-sm-11 col-md-11 col-lg-11">
                                <button type="button" class="btn btn-danger" name="button" ng-click="resetTemplate1()">Reset</button>
                                <button type="button" class="btn btn-success pull-right" name="button" ng-click="saveData()">Save</button>
                            </div>
                            <div class="alert alert-success col-sm-12 col-md-12 col-lg-12" ng-show="alertText" style="margin-top: 16px;">
                                <a class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
                                <h4 class="sucss_msg pull-left">Template Saved Successfully</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="modal-background"></div>
    </modal>

    <!--Dyanamic Template 2 -->

    <modal id="custom-modal-2">
        <div class="modal">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" ng-click="vm.closeModal('custom-modal-1');">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class='row'>
                    <div class='col-sm-11 col-md-7 col-lg-7  modalBorder'>
                        <div class="component">
                            <div class="css-device css-device--tablet col-sm-12 col-md-12 col-lg-12 noPadding restaurantBg">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h3 class="alignCenter marginTopBottom">{{head2}}</h3>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <img src="~/Images/restaurant.png" alt="resataurant Image" class="imgResponsive" />
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h2 class=".centerAlign">Today's Special</h2>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Our Special</th>
                                                <th>PRICE</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="x in menuItem">
                                            <td>{{ x.Item }}</td>
                                            <td>{{ x.Price }}</td>
                                        </tr>
                                    </table>
                                </div>




                                <div class="scroll-slow col-sm-12 col-md-12 col-lg-12">
                                    <p class="fontFamilyRaleway">{{scrollText2}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-11 col-md-4 col-lg-4">
                        <div class="col-sm-11 col-md-11 col-lg-11">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <h2>Design your board :</h2>
                                <label for="header">Restaurant Name :</label>
                                <input type="text" name="header" value="" ng-model="head2">

                                <label for="scrollT">Select the scrollable footer :</label>
                                <input type="text" name="scrollT" value="" ng-model="scrollText2">
                            </div>

                            <div class="col-sm-11 col-md-11 col-lg-11 marginBottom70">
                                <button class="btn btn-primary" value="add menu items" ng-click="showNhide()"> Add Menu Items :</button>

                                <div ng-show="IsVisible">
                                    <label for="item">Enter dish name :</label>
                                    <input type="text" name="item" ng-model="itemVal">

                                    <label for="price">Enter Price :</label>
                                    <input type="text" name="price" ng-model="priceVal">

                                    <button type="button" class="btn btn-primary" ng-click="menuUpdate()">Save</button>
                                    <button type="button" class="btn btn-danger" ng-click="menuCancel()">Cancel</button>
                                </div>
                            </div>
                            <!-- <div class="col-sm-11 col-md-11 col-lg-11 marginBottom70">
                                        <label for="imgRight">Select image for right screen :</label>
                                        <dropdown placeholder="Select image.. .." list="filesRight" selected="fileSelectedRight" property="name"></dropdown>
                            </div> -->
                        </div>
                        <div class="col-sm-11 col-md-11 col-lg-11">
                            <button type="button" class="btn btn-danger" name="button" ng-click="resetTemplate1()">Reset</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    <div class="modal-background"></div>
</modal>

<!--Dyanamic Template 3 -->

<modal id="custom-modal-3">
    <div class="modal">
        <div class="modal-body">
            <button type="button" class="close" aria-label="Close" ng-click="vm.closeModal('custom-modal-3');">
                <span aria-hidden="true">&times;</span>
            </button>
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" ng-model="vm.bodyText" />
            </p>
            <button ng-click="vm.closeModal('custom-modal-3');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
</div>

@section scripts
{
    <script src="~/Scripts/AngularControllers/modalDirective.js"></script>
    <script src="~/Scripts/AngularControllers/modalService.js"></script>
    <script src="~/Scripts/AngularControllers/templatesView.js"></script>

}
