<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="docfx.console" version="2.24.0" targetFramework="net461" />
  <package id="SqlQueries" version="0.6.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0-preview1-26216-02" targetFramework="net461" />
</packages>